.profile {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: beige;
    width: 400px;
    height: 400px;
}

.description {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.avatar {
    width: 100px;
    margin-bottom: 30px;
}

.name {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;

}

.tag {
    margin: 0;
    font-weight: 400;
    margin-bottom: 10px;
}

.location {
    margin: 0;
    font-weight: 400;
    margin-bottom: 40px;
}

.stats {
    /* margin: 0 auto; */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;

}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    background-color: white;
    height: 120px;
    width: 120px;
    border: 1px solid black;
}

.label {
    font-weight: 400;
    margin-bottom: 10px;
}

.quantity {
    font-weight: 700;
    font-size: 20px;
}